<h1>Live update view</h1>

<div>
    <h2>Add new product</h2>
    <form action="post" id="addProductForm">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required/>

        <label for="description">Description</label>
        <input type="text" name="description" id="description" required/>

        <label for="code">Code</label>
        <input type="text" name="code" id="code" required/>

        <label for="price">Price</label>
        <input type="text" name="price" id="price" required/>

        <label for="stock">stock</label>
        <input type="text" name="stock" id="stock" required/>

        <label for="category">Category</label>
        <input type="text" name="category" id="category" required/>

        <button type="submit">Add product</button>
    </form>
</div>
<div>
    <h2>Product list</h2>
    <ul id="productList">
        {{#each products}}
            <li>Name: {{this.title}}, Description: {{this.description}}, Code: {{this.code}}, Price: {{this.price}}, Stock: {{this.stock}}, Category: {{this.category}}</li>
        {{/each}}
    </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>